*{
    margin: 5px;
    padding: 5px;
    background-color: violet;
}

.App {
	text-align: center;
}
input{
    border: 3px solid black;
    width: 50%;
    text-align: center;
}
.btn{
    background-color: black;
    color: white;
}
